body{
text-align: center;


}
 p{
  color: #0d7377;
  text-align: center;
}
h1 {
 color: #c70039;
padding-bottom: 200px;
padding-top: 200px;

}
.stuck-cabinet {
  font-family: fantasy;
}

 hr {
   text-decoration: dotted;
   width:
   }
.top-div {
  background-color: #111d5e;
padding-left: 200px;
padding-right: 200px;
}
.title {
  padding-bottom: 20px;
  text-align: center;
}
.written {

}
.Illustrated {
  padding-bottom: 200px;
  text-align: center;
}
.three {
  padding-bottom: 50px;
}
